{{- with .favicon -}}
{{ $faviconString := print
  `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">`
  `<text y="0.9em" font-size="80">` . `</text>
  </svg>`
}}
{{ $favicon := $faviconString
  | resources.FromString (print "images/" (md5 $faviconString) ".svg")
  | resources.Minify
}}
<link
  rel="icon"
  href="data:{{ $favicon.MediaType.Type }};base64,{{ $favicon.Content | base64Encode }}"
  type="{{ $favicon.MediaType.Type }}"
/>
{{- else -}}
{{/*  TODO: enable favicon via resource path */}}
{{/* disable favicon request */}}
<link rel="icon" href="data:image/svg;," />
{{- end -}}
