{{ with (page.Title | default site.Title) }}
<title>{{ . }}</title>
<meta property="og:title" content="{{ . }}" />
{{ end }}
{{ with page.Description }}
<meta property="og:description" content="{{ . }}" />
<meta name="description" content="{{ . }}" />
{{ end }}
<base href='{{ site.BaseURL }}' />
<link rel="canonical" href="{{ page.Permalink }}" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:locale" content="{{ site.LanguageCode }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.Permalink }}" />