@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-neutral-800 text-neutral-200;

    -webkit-tap-highlight-color: transparent;
    font-family: Roboto, sans-serif;
  }

  a {
    @apply underline decoration-1 underline-offset-4 hover:text-neutral-100;
  }

  code {
    @apply whitespace-nowrap rounded-md border border-neutral-500 bg-neutral-900 px-1;
  }
}

@media print {
  a {
    text-decoration: none;
  }
}
