@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--background);
    color: var(--body);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--page-width);
    padding: var(--page-margin);

    @media not all and (min-width: theme("screens.sm")) {
      padding: theme("margin.3");
    }

    @media print {
      padding: 0;
    }
  }

  main > *:first-child {
    margin-top: 0;
  }

  :root {
    --background: theme("colors.white");
    --body: theme("colors.gray.700");
    --headings: theme("colors.gray.900");
    --link-hover: var(--body);
    --invert-background: theme("colors.neutral.800");
    --invert-body: theme("colors.gray.300");
    --invert-headings: theme("colors.white");
    --invert-link-hover: theme("colors.gray.100");

    @media (prefers-color-scheme: dark) {
      --background: var(--invert-background);
      --body: var(--invert-body);
      --headings: var(--invert-headings);
      --link-hover: var(--invert-link-hover);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headings);
    margin-bottom: theme("margin.4");
    margin-top: theme("margin.6");
    line-height: 1.25;
    break-after: avoid;
  }

  h1 {
    font-size: theme("fontSize.3xl");
    font-weight: theme("fontWeight.semibold");
  }

  h2 {
    font-size: theme("fontSize.2xl");
    font-weight: theme("fontWeight.semibold");
  }

  h3 {
    font-size: theme("fontSize.lg");
    font-weight: theme("fontWeight.semibold");
  }

  h4,
  h5,
  h6,
  a,
  p,
  li {
    font-size: theme("fontSize.base");
    line-height: theme("lineHeight.6");
  }

  p,
  ul,
  ol {
    margin-bottom: theme("margin.4");
    break-inside: avoid;
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 22px;

    ul {
      list-style-type: circle;
      margin-bottom: theme("margin.2");
      margin-top: theme("margin.2");
    }

    > li {
      margin-bottom: theme("margin.1");
      margin-top: theme("margin.1");
      padding-inline-start: theme("padding[1.5]");
    }
  }

  a {
    text-decoration-line: underline;

    &:hover {
      color: var(--link-hover);
    }

    @media print {
      text-decoration-line: none;
    }
  }

  footer {
    padding-top: var(--page-margin);

    @media print {
      padding-top: 0;
    }
  }
}

@layer components {
  .inline-list {
    padding-left: theme("padding.6");
    text-indent: calc(-1 * theme("textIndent.6"));
    word-spacing: 0.6em;

    span {
      white-space: nowrap;
      word-spacing: initial;
    }
  }

  .inline-svg svg {
    display: inline-block;
    fill: currentcolor;
    height: 1em;
    margin-right: theme("margin.2");
    vertical-align: calc(0.5cap - 0.5em);
    width: 1em;
  }
}
