<button
  aria-controls="drawer"
  aria-label="open drawer"
  class="absolute right-2 top-2 inline-flex items-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
  onclick="drawer.setAttribute('data-open', 'true')"
>
  {{ partial "svg.html" (dict "src" "node_modules/@fortawesome/fontawesome-free/svgs/solid/bars" "size" "1.5rem") }}
</button>

<aside
  class="group invisible sticky top-0 z-10 grid h-screen grid-cols-[min-content_1fr] self-start backdrop-blur-sm row-start-header col-start-header row-end-footer col-end-footer [transition:visibility_0s_150ms] data-[open]:visible data-[open]:transition-none md:visible md:relative md:h-auto md:transition-none md:col-start-drawer md:col-end-drawer md:row-end-main"
  id="drawer"
>
  <div
    class="flex w-min -translate-x-full flex-col gap-4 bg-neutral-800 px-2 pt-4 transition-transform group-data-[open]:translate-x-0 motion-reduce:transform-none md:translate-x-0 md:pl-0 md:pr-4 md:transition-none"
  >
    {{ partial "resume/avatar" .avatar }}
    {{ with .links }}
      <ul aria-label="social links">
        {{ range . }}
          <li>
            <a href="{{ .url }}" class="text-sm">
              {{ partial "plainTextURI.html" .url }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
    {{ with .skills }}
      <section aria-label="skills">
        {{ range . }}
          {{ range $category, $skills := . }}
            <ul aria-label="{{ $category }}" class="mb-2">
              {{ range $skills }}
                <li class="text-sm">
                  {{ . }}
                </li>
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}
      </section>
    {{ end }}
  </div>
  <button
    aria-controls="drawer"
    aria-label="close drawer"
    onclick="drawer.removeAttribute('data-open')"
    class="md:hidden"
  />
</aside>

<script>
  document.addEventListener("keyup", (e) => {
    if (e.key === "Escape") {
      drawer.removeAttribute("data-open");
    }
  });
</script>
