<header
  class="mb-8 flex flex-wrap whitespace-nowrap text-center md:flex-nowrap"
>
  <div class="mx-auto flex flex-col md:ml-0 md:text-left">
    <p class="text-4xl font-medium">
      {{ .name.first }}
      {{ .name.last }}
    </p>
    <div class="flex flex-wrap gap-2 overflow-hidden text-lg font-light">
      {{ range $titleIndex, $title := .titles }}
        <p class="mx-auto text-xl font-light md:ml-0">
          {{ $title }}
        </p>
        {{ if ne (add $titleIndex 1) (len $.titles) }}
          <hr class="mx-[-2px] h-6 self-center border-l-2 border-neutral-400" />
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="flex w-full flex-col gap-2 md:w-auto md:text-right">
    <div class="flex h-[3.75rem] justify-center">
      <ul class="flex list-none justify-center gap-2">
        {{ range $socialLink := .links }}
          <li class="aspect-square">
            <a
              class="group relative block h-full w-full rounded-full text-center before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:scale-90 before:rounded-[inherit] before:transition-[transform_box-shadow] before:duration-[250ms] before:[box-shadow:inset_0_0_0_3rem_currentColor] hover:before:scale-100 hover:before:[box-shadow:inset_0_0_0_0.125rem_currentColor]"
              href="{{ .link }}"
            >
              <div
                class="flex h-full w-full items-center justify-center text-neutral-800 group-hover:text-inherit"
              >
                {{ partial "svg.html" (dict "src" .svg "size" "2.15rem") }}
              </div>
            </a>
          </li>
        {{ end }}
        {{ with .avatar }}
          <li class="relative aspect-square overflow-hidden rounded-full">
            <div
              class="after:absolute after:top-0 after:block after:h-full after:w-full after:rounded-full after:[box-shadow:inset_0_0_20px_0_theme(colors.neutral.500)]"
            >
              {{ partial "imgh.html" (dict "src" .) }}
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
    <a aria-label="{{ .name.first }}'s email" href="mailto:{{ .email }}">
      {{ .email }}
    </a>
  </div>
</header>
