<header
  class="col-span-2 mx-auto text-center md:col-span-1 md:ml-0 md:text-left"
>
  <p class="text-2xl font-medium">
    {{ .name.first }}
    {{ .name.last }}
  </p>
  {{ with .summary }}
    <p class="text-sm font-light">
      {{ . | markdownify }}
    </p>
  {{ end }}
  <ul class="mt-2 flex h-12 list-none justify-center gap-2 md:hidden">
    {{ range .links }}
      <li class="aspect-square">
        <a
          class="group relative block h-full w-full rounded-full text-center before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:scale-90 before:rounded-[inherit] before:transition-[transform_box-shadow] before:duration-[250ms] before:[box-shadow:inset_0_0_0_3rem_currentColor] hover:before:scale-100 hover:before:[box-shadow:inset_0_0_0_0.125rem_currentColor]"
          href="{{ .url }}"
        >
          <div
            class="flex h-full w-full items-center justify-center text-neutral-800 group-hover:text-inherit"
          >
            {{ partial "svg.html" (dict "src" .svg "size" "1.75rem") }}
          </div>
        </a>
      </li>
    {{ end }}
  </ul>
</header>
