<div
  class="relative grid min-h-screen max-w-[8.5in] grid-cols-resume grid-rows-resume gap-4 grid-areas-resume md:grid-cols-resume-md md:grid-areas-resume-md"
>
  {{ partial "resume/drawer" . }}
  <div
    class="col-span-full row-span-full grid grid-cols-subgrid grid-rows-subgrid px-2 pb-2 pt-4 md:mx-4"
  >
    {{ partial "resume/header" . }}
    <main
      class="grid auto-rows-min grid-cols-subgrid row-start-main row-end-main col-start-main col-end-date"
    >
      {{ range .sections }}{{ partial "resume/section" . }}{{ end }}
    </main>
    {{ partial "resume/footer" . }}
  </div>
</div>
