{{ $dateFormat := "2006" }}
<section class="col-span-2 my-2 gap-x-4 md:grid md:grid-cols-subgrid">
  {{ with .title }}
    <h1 class="col-span-2 text-xl font-light capitalize">
      {{ . }}
    </h1>
  {{ end }}
  {{ range .entries }}
    {{ $startDate := "" }}
    {{ $endDate := "present" }}
    {{ with .date }}
      {{ $startDate = time.Format $dateFormat .start }}
      {{ with .end }}{{ $endDate = time.Format $dateFormat . }}{{ end }}
    {{ end }}
    <div class="break-inside-avoid-page">
      <div class="flex items-center justify-between">
        {{ with .title }}
          <h2 class="text-lg font-medium">{{ . }}</h2>
        {{ end }}
        {{ with .date }}
          <p class="whitespace-nowrap text-sm md:hidden">
            {{ $startDate }} -
            {{ $endDate }}
          </p>
        {{ end }}
      </div>
      {{ with .name }}
        <h3 class="text-base font-light">{{ . }}</h3>
      {{ end }}
      {{ with .description }}
        <div class="prose prose-sm prose-invert">
          {{ . | markdownify }}
        </div>
      {{ end }}
    </div>
    <div class="mx-auto hidden text-center text-sm md:block">
      {{ with .date }}
        <p>{{ $endDate }}</p>
        <p>|</p>
        <p>{{ $startDate }}</p>
      {{ end }}
    </div>
  {{ end }}
</section>
