{{ $dateFormat := "2006" }}
<section class="my-2 grid grid-cols-subgrid col-start-main col-end-date">
  {{ with .title }}
    <h1 class="text-xl font-light capitalize col-start-main col-end-date">
      {{ . }}
    </h1>
  {{ end }}
  {{ range .entries }}
    {{ with .title }}
      <h2 class="text-lg font-medium col-start-main col-end-main">
        {{ . }}
      </h2>
    {{ end }}
    {{ with .date }}
      <div
        class="flex flex-row-reverse gap-1 whitespace-nowrap text-center text-sm col-start-date col-end-date md:row-span-3 md:block md:whitespace-normal"
      >
        {{ $startDate := time.Format $dateFormat .start }}
        {{ $endDate := "present" }}
        {{ with .end }}{{ $endDate = time.Format $dateFormat . }}{{ end }}
        <p>{{ $endDate }}</p>
        <div class="before:content-['-'] md:before:content-['|']"></div>
        <p>{{ $startDate }}</p>
      </div>
    {{ end }}
    {{ with .name }}
      <h3
        class="text-base font-light col-start-main col-end-date md:col-end-main"
      >
        {{ . }}
      </h3>
    {{ end }}
    <div
      class="{{ if .date }}
        md:col-end-main
      {{ end }} prose prose-sm prose-invert col-start-main col-end-date"
    >
      {{ .description | markdownify }}
    </div>
  {{ end }}
</section>
