{{ $data := .Scratch.Get "data" }}
{{ $googleFontURL := "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Site.Title }}</title>

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preload" href="{{ $googleFontURL }}" as="style" />
  <link rel="stylesheet" href="{{ $googleFontURL }}" />
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ if .Site.Params.faviconEmoji }}
    <link
      rel="icon"
      href="data:image/svg+xml,
        <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22>
          <text y=%22.9em%22 font-size=%2290%22>
            {{ .Site.Params.faviconEmoji }}
          </text>
        </svg>
      "
      type="image/svg+xml"
    />
  {{ else }}
    {{/* disable favicon request */}}
    <link rel="icon" href="data:image/svg;," />
  {{ end }}

  {{ partialCached "css.html" . }}

  {{ if .Site.Params.enableMetaTags }}
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    {{ with $data.BasicInfo.Photo }}
      <meta property="og:image" content="{{ . | absURL }}" />
    {{ end }}
    {{ with $data.Profile | htmlUnescape | emojify | truncate 200 }}
      <meta property="og:description" content="{{ . }}" />
      <meta name="description" content="{{ . }}" />
    {{ end }}
  {{ end }}

  {{ if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
</head>
