{{- $class := "" -}}
{{- with .Get "class" -}}
  {{- $class = . -}}
{{- end -}}

{{- $format := .Page.Params.dateformat.short -}}
{{- $start := .Get "start" -}}
{{- $end := .Get "end" -}}
{{- $startFormatted := time.Format $format $start -}}
{{- $endFormatted := "now" -}}
{{- with $end -}}
  {{- $endFormatted = time.Format $format $end -}}
{{- end -}}


<div
  class="{{ $class }} flex items-center gap-1 text-center text-sm md:row-span-2 md:flex-col-reverse md:gap-0"
  id="date-range"
>
  <time class="whitespace-nowrap" datetime="{{ $start }}">
    {{- $startFormatted -}}
  </time>
  {{- if ne $startFormatted $endFormatted -}}
    <div
      role="separator"
      class="md:h-[1em] md:w-0 md:overflow-hidden md:border-l-[1px]"
    >
      to
    </div>
    <time class="whitespace-nowrap" datetime="{{ $end | default now }}">
      {{- $endFormatted -}}
    </time>
  {{- end -}}
</div>
