@layer base {
  html {
    font-family: "Atkinson Hyperlegible", system-ui;
  }

  body {
    @media print {
      padding: 0;
    }
  }

  a {
    @media print {
      text-decoration-line: none;
    }
  }

  header > nav > ul > li:not(:first-child) {
    @media print {
      display: none;
    }
  }

  footer {
    @media print {
      padding-top: 0;
    }
  }
}

@layer components {
  .skills-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: min-content 1fr;
    margin-top: 1.75rem;

    > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    @media not all and (min-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
}
